.hideSnagBtn {
  display: none;
}

.showSnagBtn {
  display: "inline";
}

.hideSnagNote {
  display: none;
}

.showSnagNote {
  display: "inline";
}

table {
  width: 100%;
  table-layout: fixed;
}
td {
  overflow: hidden;
}
.short-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}
